*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #003049;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
}

.title{
    font-size: 2em;
    color: cadetblue;
    margin-bottom: 10px;
}

#content{
    color: #fcbf49;
    width: 90%;
    background-color: cadetblue;
    padding: 2rem;
    text-shadow: 2px 0 5px #000;
}