* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 1920px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}

main{
  background: linear-gradient(90deg, rgba(0,0,0, 0.20) 0%, rgba(0,0,0,0.21) 100%), url('../resources/fondo.jpg');
}

nav {
  z-index: 9999999;
}

nav #logo {
  font-family: 'Lilita One', cursive;
  font-size: clamp(1rem, 4vw, 5rem);
  font-weight: 400;
}

nav #english-logo {
  width: 15%;
  align-items: center;
}
nav #english-logo h3 {
  margin-top: 0.5vh;
  font-size: 3vw;
}
nav #english-logo:hover #ingles-dialogo {
  opacity: 100%;
  right: 100%;
}
nav #english-logo #logo-diaglog-container {
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
nav #english-logo #logo-diaglog-container #ingles-logo-img {
  border-radius: 20%;
  margin: 0 !important;
}
nav #english-logo #ingles-dialogo {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  right: 0%;
  opacity: 0;
  text-align: center;
  margin: auto;
  transition: opacity 0.5s ease-out, right 0.5s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

#back-arrow {
  width: clamp(4rem, 5vw, 10rem);
}
#back-arrow:hover {
  filter: drop-shadow(0 0px 2rem #00ff00);
}

#buttons-section img {
  overflow-x: hidden !important;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#buttons-section #colores-container {
  transition: transform 1s ease;
  cursor: pointer;
}
#buttons-section #colores-container:hover #colores-img {
  transform: scale(1.1);
}
#buttons-section #colores-container:hover #pincel {
  transform: rotate(2turn) scale(1.5);
}
#buttons-section #colores-container #pincel-container {
  position: absolute;
  bottom: 8%;
  left: 2%;
}
#buttons-section #colores-container #pincel-container img {
  width: 20%;
  overflow-x: hidden;
  transition: transform 1s ease;
}
#buttons-section #numeros-container {
  cursor: pointer;
}
#buttons-section #numeros-container:hover {
  transform: scale(1.1);
}
#buttons-section #numeros-container:hover #numero1-img {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: linear;
  transform: translateY(-33%);
}
#buttons-section #numeros-container:hover #numero2-img {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  transition-timing-function: linear;
  transform: translateY(-33%);
}
#buttons-section #numeros-container:hover #numero3-img {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
  transform: translateY(-33%);
}
#buttons-section #numeros-container #numeros-unit-container {
  width: 90%;
  position: absolute;
  top: 0;
  left: 2.7%;
  transition: transform 1s ease;
}
#buttons-section #numeros-container #numeros-unit-container img {
  width: 15%;
}
#buttons-section #letras-container {
  cursor: pointer;
}
#buttons-section #letras-container:hover {
  transform: scale(1.1);
}
#buttons-section #letras-container:hover #letras-box-container {
  filter: none;
}
#buttons-section #letras-container:hover #lapiz-container {
  animation: anim-lapiz 1s;
}
#buttons-section #letras-container #letras-box-container {
  position: absolute;
  top: 0%;
  left: 0%;
  filter: grayscale(1);
  transition: filter 0.5s;
  transition-delay: 0.25s;
}
#buttons-section #letras-container #letras-box-container img {
  width: 18%;
  height: 18%;
}
#buttons-section #letras-container #letras-unit-container {
  position: absolute;
  top: 38%;
  left: 18%;
}
#buttons-section #letras-container #letras-unit-container img {
  width: 10%;
  height: 10%;
}
#buttons-section #letras-container #lapiz-container {
  position: absolute;
  bottom: 8%;
  left: 2%;
  overflow-x: hidden;
}
#buttons-section #letras-container #lapiz-container img {
  width: 25%;
  height: 25%;
  overflow-x: hidden;
}

@keyframes anim-lapiz {
  0% {
    position: absolute;
    bottom: 8%;
    left: 2%;
    transform: rotate(0deg);
  }
  20% {
    position: absolute;
    bottom: 50%;
    left: 2%;
  }
  22% {
    position: absolute;
    bottom: 50%;
    left: 2%;
  }
  70% {
    position: absolute;
    bottom: 50%;
    left: 80%;
  }
  75% {
    position: absolute;
    bottom: 50%;
    left: 80%;
  }
  100% {
    position: absolute;
    bottom: 8%;
    left: 2%;
  }
}
footer {
  position: relative;
  /*transform: translateY(-100%);*/
  margin-top: auto;
}

@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  #buttons-section {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    width: 100% !important;
  }
  #buttons-section #button-container {
    width: 90% !important;
  }
}
#option-container div {
  margin-top: 5%;
}

#option-1,
#option-2,
#option-3 {
  width: 100%;
  height: 100%;
  font-size: clamp(2rem, 4vw, 5rem);
}

.option-img {
  pointer-events: none;
  width: 25%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.letter-option-img {
  pointer-events: none;
  width: 80%;
  height: 80%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#score-container {
  transition: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  text-align: center;
  position: relative;
  background-color: #009cbf;
  width: 30%;
  height: 10%;
  font-size: clamp(1rem, 3vw, 4rem);
  margin-bottom: 5%;
  margin-top: 5%;
  overflow: hidden;
  border-radius: 20px;
}
#score-container::before {
  content: "";
  width: 200%;
  height: 50%;
  left: -50%;
  position: absolute;
  background: linear-gradient(90deg, #ff0000, #ffff00);
  animation: neon-button 4s linear infinite;
}
#score-container::after {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: #00bbe5;
  border-radius: 20px;
}
#score-container .score-title {
  z-index: 5;
  font-weight: 900;
}
#score-container #score-number {
  z-index: 5;
  font-weight: 900;
}

@keyframes neon-button {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 576px) {
  #option-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 !important;
    margin-bottom: 20% !important;
  }
  #option-container div {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 12%;
  }
  #option-1,
  #option-2,
  #option-3 {
    margin: auto;
    text-align: center;
  }
  #score-container {
    width: 66%;
    height: 20%;
    padding: 1% !important;
  }
}
#letter-to-guess {
  margin: 0;
  padding: 0;
  margin: auto 2%;
  text-align: center;
  font-size: clamp(8rem, 10vw, 15rem);
  font-weight: 900;
}

#color-to-guess {
  min-width: 10rem;
  min-height: 10rem;
  margin: auto;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 2px black solid;
}

#number-to-guess {
  margin: 0;
  padding: 0;
  margin: auto 2%;
  text-align: center;
  font-size: clamp(8rem, 10vw, 15rem);
  font-weight: 900;
}

#congrats-bg {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: none;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4196078431);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: opacity-up-down 5s ease-in-out forwards;
}

@keyframes opacity-up-down {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#congrats {
  display: none;
  position: fixed;
  overflow: hidden;
  max-width: 50vw;
  max-height: 50vw;
  width: 20vw;
  height: 20vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  animation: scale-up-down 4s ease-in-out forwards;
}

@keyframes scale-up-down {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  33% {
    transform: translate(-50%, 50%) scale(4.5);
  }
  66% {
    transform: translate(-50%, 50%) scale(4.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    display: none;
  }
}
#confetti {
  overflow: hidden;
}

@keyframes shoot-confetti {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  50% {
    transform: translate(100%, 200%) rotate(45deg);
  }
  100% {
    transform: translate(200%, 200%) rotate(45deg);
  }
}
#my-canvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  overflow: hidden;
  animation: opacity-up-down 5s ease-in-out forwards;
}

@media (max-width: 720px) {
  #number-option-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #number-option-container div {
    margin: 2.5%;
    width: 100%;
  }
  #score-container {
    padding: 2%;
  }
}
.text-to-speech {
  margin: 2%;
  background: none;
  border: none;
  outline: none;
  width: 10%;
}
.text-to-speech svg {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.text-to-speech:hover {
  transform: scale(1.25);
}

#tts-number,
#tts-letter {
  margin: 0;
  margin-left: 2%;
  padding: 0;
  width: clamp(3rem, 5vw, 8rem);
}

/*# sourceMappingURL=style.css.map */
