*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2b2a2a;
}

.calculator{
    padding: 3rem;
    background-color: #413f3f;
    border-radius: 10px;
}

.screen{
    padding: 1rem;
    text-align: end;
}

#display{
    font-size: 1.5em;
    font-weight: 800;
    color: antiquewhite;
}

.operator{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    margin: 5px;
    background-color: beige;
    color: #232323;
    font-size: 1em;
    cursor: pointer;
}

.number{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    margin: 5px;
    background-color: azure;
    font-size: 1em;
    cursor: pointer;
}

.backspace{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    margin: 5px;
    background-color: antiquewhite;
    font-size: 1em;
}

.equal{
    width: 50px;
    height: 120px;
    border-radius: 30px;
    border: none;
    padding: 1rem;
    margin: 5px;
    background-color: blanchedalmond;
    font-size: 1em;
    cursor: pointer;
}
.point{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    padding: 1rem;
    background-color: cornsilk;
    font-size: 1em;
    cursor: pointer;
}
.none{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    padding: 1rem;
}
.reset{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    padding: 1rem;
    background-color: bisque;
    font-size: 1em;
    cursor: pointer;
}