<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
    I'm a young man passionate about <strong>technology and computing</strong>. I love to build programs that solve a need in society.
    </p>

    <p>
    I specialize on <strong>backend development, database management</strong> and build the business logic on the web.
    <br>
    Now I'm learning about other branches of computer science such as <strong>data science and machine learning</strong>.
    </p>
  </div>

</article>