---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Currently",
    title: "Backend Developer",
    company: "Polaris",
    description:
      "Responsible for creating REST APIs, painting those APIs into production and manipulating relational databases.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
