---
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import Github from "@/components/icons/GitHub.astro"
import Pdf from "@/components/icons/Pdf.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/photo.webp"
      
    />
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, i'm Mariano Aguiar
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +1 year of experience. <strong
      >Software Developer and Systems Analysis Student</strong
    > from Buenos Aires, Argentina. specialized in backend development and database management.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.linkedin.com/in/mariano-aguiar-nahuel/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/MarianoJSB">
      <Github class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="/cv.pdf">
      <Pdf class="size-4" />
      CV
    </SocialPill>
  </nav>
</div>
