*{
  font-family: 'Lilita One';
}

body{
  width: 100vw;
  height: 100vh;
  background-image: url('../IMG/fondo.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  animation: 20s anim-body;
  animation-iteration-count: infinite;
}
@keyframes anim-body{
  0%{
      background-position: top;
  }
  100%{
      background-position: bottom;
  }
}
  

header {
  background-color: lightblue;
  padding: 20px;
}
header a{
  text-decoration: none;
  color: black;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li{
  margin-right: 10px;
}

nav li a {
  text-decoration: none;
}

main{
  margin-top: 40px;
  text-align: center;
}

h1{
  color: #333;
}

button{
  background-color: #4CAF50;
  color: white;
  padding: 30px 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

img {
  max-width: 200px;
}
#principal_a{
  position: absolute;
  left: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2px black;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 300px;
  font-family: 'Lilita One';
  cursor: pointer;
  text-align: center;
  animation: 1s anim-volver;
}

#principal_a #principal_arrow{
  font-weight: 900;
  font-size: 20px;
  transition: 0.2s color ease-in-out;
}
#principal_a #principal_text{
  font-weight: lighter;
  color: white;
  font-size: 0px;
  transition: 0.2s font-size ease-in-out;
}
#principal_a:hover #principal_text{
  font-size: 25px;
  transition: 0.2s;
}
#principal_a:hover #principal_arrow{
  color: white;
  transition: 0.2s;
}
#principal_a:hover{
  background-color: #0099ff;
}


