
body {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    background-image: url(../fondo.jpg);
    background-repeat: no-repeat;
}
h4{
    font-family: "Archivo";
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    color: #fff;
    text-align: center;
}
main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
}
.mesa{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 45rem;
    margin: auto;
}
.tarjeta {
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.5); 
    position: relative;
    transition: box-shadow 0.35s ease-in-out;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    backface-visibility: hidden;
}
.tarjeta:hover{
    box-shadow:0 0.1rem 0.4rem rgba(255, 255, 255, 0.45);
    transform: scale(0.9);
}
.contenidoTarjeta {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    box-shadow:0 0.1rem 0.4rem rgba(255, 255, 255, 0.45);
    background-color: rgb(234, 232, 232);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.contenidoTarjeta::selection {
    background: transparent;
}
.tarjeta.descubierta {
    transform: rotateY(-180deg);
}

@keyframes error {
    10%,
    90% {
    transform: rotateY(-180deg) translateX(-1px);
    }
    20%,
    80% {
    transform: rotateY(-180deg) translateX(2px);
    }
    30%,
    50%,
    70% {
    transform: rotateY(-180deg) translateX(-4px);
    }
    40%,
    60% {
    transform: rotateY(-180deg) translateX(4px);
    }
}

@keyframes acierto {
    from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
    }

    25% {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
    }

    to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
    }
}

.acertada{
    pointer-events: none;
}

.acertada .contenidoTarjeta{
    animation: acierto 1.3s ease-in-out forwards;
}

.desacierto {
    animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.sonido{
    display: none;
}