*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(6, 62, 122, .95);
}

h1{
    color: #fff;
    text-align: center;
    font-family: k2d;
    margin: 20px 30px;
    font-size: 4em;
    text-decoration: underline 5px solid;
}

.gaming{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.images{
    width: 450px;
    height: 300px;
    border-radius: 10px;
}

p{
    font-size: 2em;
    text-align: center;
    margin: 10px 0;
    color: #fff;
    font-family: 'Koho';
    font-weight: 700;
}

.g1,
.g2,
.g3,
.g4{
    margin: 20px;
    padding: 10px;
}

.g1 img:hover,
.g2 img:hover,
.g3 img:hover,
.g4 img:hover{
    box-shadow: 0 0.15rem 0.4rem rgba(0,0,0,.3);
    transform: scale(0.97);
}

.light-blue{
    color: #007bff;
    text-decoration: underline 5px solid;
}

/* Scroll styles */

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(101, 100, 100, .9);  
  }
  
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
  ::selection {
    background-color: #007bff;
    color: #fff;
  }

/* Responsive design */
@media screen and (max-width: 400px) {
    h1{
        font-size: 2.5em;
    }
    .gaming p{
        font-size: 2em;
    }
    .gaming img{
        width: 350px;
        height: 250px;
    }
}