* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav */

.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: #fff;
  font-family: 'Koho', sans-serif;
}

.logo {
  height: 80px;
}

.list li {
  display: inline-block;
  list-style: none;
  font-size: 1.2em;
  margin: 0 50px;
  font-family: "Koho", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #131313;
}

.list li:hover {
  text-decoration: underline 2px #131313;
}

main {
  background-color: #131313;
}

.abrir, .cerrar {
  display: none;
}

/* Home */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131313;
}

.photo {
  width: 350px;
  margin-right: 10px;
  box-shadow: 4px 0 80px rgba(0, 123, 255, 0.15);
  border-radius: 100%;
  animation: float 5s infinite alternate;
}

/* name */
.home .content h1 {
  font-size: 7em;
  font-family: k2d;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Rol */
.home .content h2 {
  font-size: 5.5em;
  font-family: k2d;
  color: #007bff;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* description */
.home .content p {
  font-size: 3em;
  font-family: "koho";
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Photo animation */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -30px);
  }
}

/* About me */
.about{
  margin-top: 10px;
  padding-bottom: 20px;
}

.about .title{
  color: #fff;
  font-family: k2d;
  text-decoration: underline 5px solid;
  text-align: center;
  font-size: 4em;
}

.about .content p {
  text-align: center;
  font-size: 2em;
  font-family: "koho";
  color: #fff;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* Skills section */
.skills {
  background-color: #131313;
  margin-top: 10px;
  padding-bottom: 20px;
}

.skills .title,
#contact .title,
#projects .title {
  color: #fff;
  font-family: k2d;
  text-decoration: underline 5px solid;
  text-align: center;
  font-size: 4em;
}

.title .light-blue {
  color: #007bff;
  text-decoration: underline 5px solid;
}

.sk1,
.sk2,
.sk3,
.sk4{
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4em;
  color: #fff;
  font-style: italic;
  margin: 20px 0;
}

hr {
  padding: 2px;
  width: 95%;
  background-color: #007bff;
  animation: bar 2s infinite alternate;
  border: none;
  margin: 0 auto;
}

/* Projects section */
#projects{
  background-color: rgba(0, 123, 255, .5);
  height: 100%;
  padding: 20px 0;
}

.p1 img,
.p2 img,
.p3 img,
.p4 img,
.p5 img,
.p6 img{
  width: 750px;
  height: 400px;
  border-radius: 20px;
  transition: all 0.3s linear;
}

.p1 img:hover,
.p2 img:hover,
.p3 img:hover,
.p4 img:hover,
.p5 img:hover,
.p6 img:hover{
  box-shadow: 0 0.15rem 0.4rem rgba(0,0,0,.3);
  transform: scale(0.95);
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6{
  display: block;
  margin: 20px auto;
  width: 750px;
  height: auto;
  font-family: k2d;
}

.p1 h3,
.p2 h3,
.p3 h3,
.p4 h3,
.p5 h3,
.p6 h3{
  font-size: 3em;
  color: #fff;
  font-weight: bold;
}

.p1 p,
.p2 p,
.p3 p,
.p4 p,
.p5 p,
.p6 p{
  margin: 10px 0;
  font-size: 2em;
  color: #fff;
}

.stack{
  display: flex;
}

.stack div{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 10px 20px 10px;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: default;
  transition: all 0.3s linear;
}

.stack div p{
  font-size: 1em;
  margin: 0 10px;
}

.stack div:hover{
  transform: scale(0.97);
  box-shadow: 0 0.15rem 0.4rem rgba(0,0,0,.3);
}

/* Stack bg colors */
#html{
  background-color: rgba(227, 76, 38, .9);
}

#css{
  background-color: rgba(0, 90, 140, .9);
}

#js{
  background-color: rgba(255, 230, 0, .9);
}

#php{
  background-color: rgba(71, 74, 138, .9);
}

#MySQL{
  background-color: rgba(0, 117, 143, .9);
}

#react{
  background-color: rgba(97, 219, 251, .9);
}

#node{
  background-color: rgba(60, 135, 58, .9);
}

#link{
  background-color: #131313;
}

#link a{
  color: #fff;
}

/* Footer / Contact section */
#contact {
  padding: 20px 0;
  background-image: url(../src/bg.png);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Contact Form */

.fields {
  overflow: hidden;
  font-family: "Koho";
  width: 60%;
  display: block;
  margin: 50px auto;
  outline: 0;
  border: 5px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  font-size: 1.8em;
  font-weight: 100;
}

textarea {
  overflow: hidden;
  font-family: "Koho";
  width: 60%;
  display: block;
  margin: 50px auto;
  outline: 0;
  border: 5px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 1.2rem 0;
  font-size: 1.8em;
  font-weight: 100;
  resize: none;
}

.submit {
  overflow: hidden;
  font-family: "k2d";
  width: 60%;
  display: block;
  margin: 50px auto;
  outline: 0;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  padding: 1.2rem 0;
  font-size: 1.8em;
  font-weight: 100;
  cursor: pointer;
  transition: 0.5s ease-in all;
}

.submit:hover {
  background-color: #fff;
  color: #007bff;
}

.success{
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(60, 135, 58, .9);
  color: #00ff08;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  font-weight: bold;
  font-family: "koho";
  font-size: 1.4em;
  border: 4px solid #00ff08;
  border-radius: 5px;
}

.download {
  text-align: center;
  font-family: "k2d";
  display: block;
  margin: 50px auto;
  outline: 0;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  padding: 1.2rem 0;
  font-size: 1.8em;
  width: 25%;
  transition: 0.5s ease-in all;
}

.download:hover {
  background-color: #fff;
  color: #007bff;
}

.media {
  display: flex;
  justify-content: space-around;
}

::placeholder {
  color: #fff;
  padding: 0 50px;
  opacity: 0.8;
}

/* Photo animation */
@keyframes bar {
  0% {
    background-color: #007bff;
  }
  100% {
    background-color: #fff;
  }
}
/* Scroll styles */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(101, 100, 100, .9);  
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
::selection {
  background-color: #007bff;
  color: #fff;
}

/* Responsive design */
@media screen and (max-width: 400px) {
  /* Nav */
    .header{
      display: flex;
      justify-content: space-between;
      margin: 0 10px;
  }
  .abrir, .logo{
      margin: 0 20px;
  }
  .abrir,
  .cerrar {
      display: block;
      border: 0;
      font-size: 2em;
      background-color: transparent;
      cursor: pointer;
  }
  .cerrar{
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
  }
  .nav{
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 10px;
      background-color: aliceblue;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      width: 100%;
      height: 300px;
  }
  .list li{
      text-align: center;
      display: block;
      margin: 20px auto;
      font-size: 1.4em;
  }
  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  .list{
      flex-direction: column;
      align-items: end;
  }
  .list li a {
      color: #007bff;
  }
  /* About me */
  .home {
    flex-direction: column;
    text-align: center; 
  }
  .home .content h1 {
    font-size: 6em; 
  }
  .home .content h2 {
    font-size: 4em; 
  }
  .home .content p {
    font-size: 2.5em;
  }
  .home img{
    display: none;
  }
  .about .content p{
    font-size: 1.5em;
    margin: 10px;
  }
  /* Skills */
  .skills .hardTitle{
    font-size: 3.5em;
  }
  .skills article{
    display: block;
  }
  .skills article h3{
    text-align: center;
    font-size: 0.5em;
  }
  /* Proyects */
  .projectsContent article {
    width: 100%;
  }
  .projectsContent article h3{
    font-size: 2.3em;
  }
  .projectsContent article h3, .projectsContent article p{
    text-align: center;
  }
  .projectsContent article .stack{
    flex-wrap: wrap;
    justify-content: center;
  }
  .projectsContent article a img{
    width: 90%;
    height: 230px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
  .projectsContent article p{
    margin: 0 5px;
  }
  /* Contact */
  .form input, .form textarea{
    width: 350px;
  }
  #contact a{
    width: 300px;
  }
  .media img{
    width: 100px;
  }
  .success{
    font-size: 1.5em;
    text-align: center;
    width: 300px;
  }
}